spring:
  application:
    name: clustereddata-warehouse
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/fx_deals}
    username: ${SPRING_DATASOURCE_USERNAME:fx_user}
    password: ${SPRING_DATASOURCE_PASSWORD:fx_pass}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    com.bloomberg.clustereddata: INFO
    org.springframework.web.filter.CommonsRequestLoggingFilter: WARN
